/********************
*公共标签样式
********************/

.flLeft {
    float: left;
}

.flRight {
    float: right;
}

.padigLeft_15 {
    padding-left: 15px
}

.padigRight_15 {
    padding-right: 15px;
}

.int {
    width: 250px;
    height: 28px;
    box-sizing: border-box;
    padding-left: 10px;
    outline: none;
    overflow: hidden;
    border-radius: 3px;
    border: 1px solid #D0D6D9;
}

.fontBold {
    font-weight: bold;
}
/*卡片分割线*/
.line {
    width: 1080px;
    height: 25px;
}
/*********************
*main 外边框自适应区域
***********************/
.main {
    width: 100%;
    min-width: 1100px;
    padding-bottom: 30px;
    box-sizing: border-box;
    background-color: #FFF;
    border-radius: 6px;
    box-shadow: 0px 4px 6px 0px rgba(70, 95, 106,.25);
}
/*title 标题 */
.main-title {
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    color: #263135;
    background-color: #d1d6da;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

/*********************
*头部文号区：70px
***********************/
.content_title {
    width: 1080px;
    margin: 0 auto;
    text-align: center;
    height: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 30px;
}
/**********************
*内容区:116px
**********************/
.area {
    width: 1080px;
    margin: 0 auto;
    box-sizing: border-box;
    border: 2px solid #D0D6D9;
    border-radius: 3px;
}

.area_card {
}

.card_title {
    box-sizing: border-box;
    border-bottom: 1px solid #D0D6D9;
    height: 36px;
    line-height: 36px;
}

.card_content {
    padding: 0 0 0 10px;
}

.heiht80 {
    height: 80px;
}

.card_content textarea {
    width: 100%;
    height: 100%;
    padding: 0px;
    font-size: 15px;
}
/***************************
*附件区:36+36+146
****************************/
.card_title_btn {
    height: 28px;
    width: 120px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    line-height: 28px;
    background-color: #1bbc9b;
    cursor: pointer;
    margin-top: 4px;
    margin-left: 20px;
}

.heiht146 {
    height: 146px;
}

.marginLeft_150 {
    margin-left: 150px;
}

.btnList {
    height: 36px;
}

.width50 {
    width: 50px;
}

.padigRight_40 {
    padding-right: 40px;
}
/*文件列表样式*/
.fileList {
    width: 100%;
    height: 110px;
    overflow-y: auto;
    letter-spacing: -8px;
}

    .fileList > ul > li {
        width: 320px;
        margin-bottom: 10px;
        margin-right: 15px;
        background-color: #F0F0F0;
        height: 40px;
        line-height: 40px;
        letter-spacing: 0px;
    }

        .fileList > ul > li > img {
            width: 30px;
            height: 40px;
            float: left;
            margin: 0 10px 0 10px;
            border: 0;
        }

        .fileList > ul > li > div {
            width: 240px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            line-height: 40px;
            float: left;
            font-size: 14px;
        }

        .fileList > ul > li > input {
            width: 20px;
            height: 20px;
            float: left;
            margin-top: 10px;
        }

/**************************
*选择步骤和人员
***************************/
.heiht180 {
    height: 180px;
}
/*原生下拉选择按钮*/
.card_title select {
    width: 150px;
    height: 30px;
    outline: none;
    overflow: hidden;
    border-radius: 3px;
    border: 1px solid #D0D6D9;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("/Content/img/arrow.png") no-repeat scroll right center transparent;
    padding-right: 14px;
}

select::-ms-expand {
    display: none;
}
/*表格*/
.Sponsor {
    margin-left: 170px;
}

.Agent {
    margin-left: 170px;
}

.padNo {
    padding: 0;
}
/*
table {
    width: 100%;
    text-align: center;
}

tr {
    border-bottom: 1px solid #D0D6D9;
}

.tdFirst {
    width: 30%;
    border-bottom: 1px solid #D0D6D9;
}

.tdLast {
    width: 70%;
    border-bottom: 1px solid #D0D6D9;
}*/
/**************************
*footer底部区域 
***************************/
.footer {
    margin: 40px 0;
}
/*  提交 */
.submit {
    height: 40px;
}
/* 提交按钮*/
.submit-btn {
    height: 40px;
    width: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    font-size: 1.1em;
    background-color: #1bbc9b;
    cursor: pointer;
}
/********************
*公共标签默认属性设置
********************/
body {
    margin: 0;
    font-size: 15px;
    padding: 20px 20px 0 20px;
    margin-bottom: 0 !important;
    background-color: #f0f0f0;
}

input {
    border: none;
}
/*textarea去除下标*/
textarea {
    resize: none;
    outline: none;
    overflow: auto;
    border: none;
}

ul {
    padding: 0px;
    margin: 0px;
}

li {
    display: inline-block;
}

/*修改radio按钮样式*/
input[type="radio"] + label::before {
    content: "\a0"; /*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 15px; /*没有选中时的按钮大小*/
    height: 15px; /*没有选中时的按钮大小*/
    margin-right: 8px; /*按钮与文字的间距*/
    border-radius: 50%;
    border: 1px solid #01cd78;
    text-indent: 10px;
    line-height: 1;
}

input[type="radio"]:checked + label::before {
    background-color: #01cd78;
    background-clip: content-box;
    padding: 2px;
    width: 11px; /*选中后的按钮大小*/
    height: 11px; /*选中后的按钮大小*/
}

input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
